<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<!-- 声明变量 -->
	<substitutionProperty name="log.base" value="./logs/wycds_common" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
		</layout>
		<File>${log.base}.log</File>
	</appender>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<logger name="com.wangyin.cds.server" level="DEBUG" />
	<logger name="com.wangyin.cds.service" level="info">
		<appender-ref ref="FILE" />
	</logger>
	
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>